@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Outfit', sans-serif;
  scroll-behavior: smooth;
}

* a {
  text-decoration: none;
}

body {
  margin: 0 auto;
}

body header {
  background-color: #000000cc;
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
}

body header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  max-width: 1440px;
  padding: 8px 80px;
}

body header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

body header nav ul li {
  margin: 8px 16px;
}

body header nav ul li a {
  font-size: 18px;
  color: #ffffff;
}

body header nav ul li a:hover {
  color: #FF8A00;
}

body main img {
  width: 100%;
}

body main#hero {
  position: relative;
}

body main#hero img {
  height: 100vh;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: -ms-grid;
  display: grid;
}

body main#hero section.hero {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 96px;
  margin: 0 auto;
  max-width: 1440px;
}

body main#hero section.hero div h1 {
  color: #ffffff;
  font-size: 48px;
  font-weight: 600;
}

body main#hero section.hero div h1 span {
  color: #FF8A00;
}

body main#hero section.hero div p {
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
}

body main#hero section.hero div button {
  background-color: transparent;
  border: 2px solid #ffffff;
  color: #FF8A00;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 16px;
  margin: 16px 0;
  cursor: pointer;
  border-radius: 8px;
}

body main#hero section.hero div button:hover {
  background-color: #ffffff;
}

body main#content {
  background-color: #FBFBFD;
}

body main#content section.content {
  padding: 96px 96px;
  margin: 0 auto;
  max-width: 1440px;
}

body main#content section.content div h2 {
  color: #111111;
  font-size: 32px;
  font-weight: 600;
}

body main#content section.content div h2 span {
  color: #FF8A00;
}

body main#content section.content .flex {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (23.82%)[4];
      grid-template-columns: repeat(4, 23.82%);
  gap: 16px 1.57%;
}

body main#content section.content .flex .grids {
  background-color: #ffffff;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 8px 8px;
  width: 100%;
  text-align: center;
  -webkit-box-shadow: #0000004d 0 1px 3px;
          box-shadow: #0000004d 0 1px 3px;
  border-radius: 8px;
}

body main#content section.content .flex .grids img {
  border-radius: 4px;
  height: 240px;
  -o-object-fit: cover;
     object-fit: cover;
}

body main#content section.content .flex .grids h3, body main#content section.content .flex .grids p {
  color: #111111;
}

body main#content section.content .flex .grids h3 {
  font-weight: 600;
  margin-bottom: 0;
}

body main#content section.content .flex .grids p {
  font-size: 16px;
}

body main#topmeals {
  background-color: #000000;
}

body main#topmeals section.topmeals {
  padding: 96px 96px;
  margin: 0 auto;
  max-width: 1440px;
}

body main#topmeals section.topmeals div h2 {
  color: #ffffff;
  font-size: 32px;
  font-weight: 600;
}

body main#topmeals section.topmeals div h2 span {
  color: #FF8A00;
}

body main#topmeals section.topmeals .flex {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (32.3%)[3];
      grid-template-columns: repeat(3, 32.3%);
  gap: 16px 1.57%;
}

body main#topmeals section.topmeals .flex .grids {
  background-color: #111111;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 8px 8px;
  width: 100%;
  text-align: center;
  -webkit-box-shadow: #ffffff4d 0 1px 3px;
          box-shadow: #ffffff4d 0 1px 3px;
  border-radius: 8px;
}

body main#topmeals section.topmeals .flex .grids img {
  border-radius: 4px;
  height: 240px;
  -o-object-fit: cover;
     object-fit: cover;
}

body main#topmeals section.topmeals .flex .grids h3 {
  color: #ffffff;
  font-weight: 600;
  margin-bottom: 0;
}

body main#topmeals section.topmeals .flex .grids p {
  color: #f9f9f9;
  font-size: 16px;
}

body main#topmeals section.topmeals .flex .grids a {
  color: #6be619;
  margin: 24px 0;
}

body main#topmeals section.topmeals .flex .grids a:hover {
  color: #55ca06;
}

body main#meals {
  background-color: #000000;
}

body main#meals section.meals {
  padding: 96px 96px;
  margin: 0 auto;
  max-width: 1440px;
}

body main#meals section.meals div {
  width: 100%;
  display: -ms-grid;
  display: grid;
}

body main#meals section.meals div h2 {
  color: #ffffff;
  font-size: 32px;
  font-weight: 600;
}

body main#meals section.meals div h2 span {
  color: #FF8A00;
}

body main#meals section.meals .flex {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (49%)[2];
      grid-template-columns: repeat(2, 49%);
  gap: 16px 2.05%;
}

body main#meals section.meals .flex .grids {
  background-color: #111111;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 8px 8px;
  width: 100%;
  text-align: center;
  -webkit-box-shadow: #ffffff4d 0 1px 3px;
          box-shadow: #ffffff4d 0 1px 3px;
  border-radius: 8px;
}

body main#meals section.meals .flex .grids img {
  border-radius: 4px;
  height: 240px;
  -o-object-fit: cover;
     object-fit: cover;
}

body main#meals section.meals .flex .grids h3 {
  color: #ffffff;
  font-weight: 600;
  margin-bottom: 0;
}

body main#meals section.meals .flex .grids p {
  color: #f9f9f9;
  font-size: 16px;
}

body main#meals section.meals .flex .grids a {
  color: #6be619;
  margin: 24px 0;
}

body main#meals section.meals .flex .grids a:hover {
  color: #55ca06;
}

body main#form {
  background-color: #000000;
}

body main#form form {
  padding: 96px 96px;
  margin: 0 auto;
  max-width: 1440px;
  display: -ms-grid;
  display: grid;
}

body main#form form div h2 {
  color: #ffffff;
  font-size: 32px;
  font-weight: 600;
}

body main#form form div h2 span {
  color: #FF8A00;
}

body main#form form input {
  width: 480px;
  padding: 16px 24px;
  margin: 8px 0;
  font-size: 18px;
  font-weight: 500;
  color: #111111;
  border: 1px solid transparent;
  border-radius: 8px;
  cursor: text;
}

body main#form form input:focus {
  outline: 0;
  border: 1px solid #FF8A00;
}

body main#form form input[type=submit] {
  background-color: #FF8A00;
  cursor: pointer;
}

body main#form form span a {
  color: #FF8A00;
}

body main#form form span.errEmail, body main#form form span.errPassword {
  color: red;
}

body main#form form span.succMsg {
  color: #6be619;
}

body footer {
  border-top: 1px solid #FF8A00;
  background-color: #111111;
}

body footer nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  max-width: 1440px;
  padding: 24px 96px;
}

body footer nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

body footer nav ul li {
  margin: 8px 0;
}

body footer nav ul li p {
  color: #ffffff;
  font-weight: 600;
}

body footer nav ul li a {
  color: #f9f9f9;
}

body footer nav ul li a:hover {
  color: #FF8A00;
}

body footer nav:nth-of-type(2) {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 1024px) {
  body header nav {
    padding: 8px 32px;
  }
  body main#hero section.hero {
    padding: 0 48px;
  }
  body main#content section.content {
    padding: 96px 48px;
  }
  body main#content section.content .flex {
    -ms-grid-columns: (49%)[2];
        grid-template-columns: repeat(2, 49%);
    gap: 16px 2.05%;
  }
  body main#topmeals section.topmeals {
    padding: 96px 48px;
  }
  body main#topmeals section.topmeals .flex {
    -ms-grid-columns: (49%)[2];
        grid-template-columns: repeat(2, 49%);
    gap: 16px 2.05%;
  }
  body main#form form {
    padding: 96px 48px;
  }
  body footer nav {
    padding: 24px 48px;
  }
}

@media screen and (max-width: 768px) {
  body header nav {
    padding: 8px 8px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body main#hero section.hero {
    padding: 0 24px;
  }
  body main#hero section.hero div {
    text-align: center;
  }
  body main#hero section.hero div h1 {
    font-size: 40px;
  }
  body main#content section.content {
    padding: 96px 24px;
  }
  body main#content section.content .flex {
    -ms-grid-columns: (100%)[1];
        grid-template-columns: repeat(1, 100%);
    gap: 16px 0%;
  }
  body main#topmeals section.topmeals {
    padding: 96px 24px;
  }
  body main#topmeals section.topmeals .flex {
    -ms-grid-columns: (100%)[1];
        grid-template-columns: repeat(1, 100%);
    gap: 16px 0%;
  }
  body main#meals section.meals {
    padding: 96px 24px;
  }
  body main#meals section.meals .flex {
    -ms-grid-columns: (100%)[1];
        grid-template-columns: repeat(1, 100%);
    gap: 16px 0%;
  }
  body main#form form {
    padding: 96px 24px;
  }
  body main#form form input {
    width: 100%;
  }
  body footer nav {
    padding: 24px 24px;
  }
}

@media screen and (max-width: 640px) {
  body footer nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body footer nav ul {
    width: 100%;
  }
  body footer nav ul li {
    text-align: center;
  }
}
/*# sourceMappingURL=main.css.map */